<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h4 class="mb-4">{{ t.comun.eden }} {{ t.comun.inmobiliaria }}</h4>
        <p>{{ t.footer.descripcion }}</p>
      </div>

      <div class="col-md-2 mb-4">
        <h5 class="mb-4">{{ t.footer.enlacesRapidos }}</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a (click)="redireccionamiento.redirigirAHome()" class="text-white text-decoration-none link-clickable">
              {{ t.footer.inicio }}
            </a>
          </li>
          <li class="mb-2">
            <a (click)="redirigirARegistroInmueble()" class="text-white text-decoration-none link-clickable">
              {{ t.footer.hagamosNegocios }}
            </a>
          </li>
          <li class="mb-2">
            <a (click)="redireccionamiento.redirigirAPoliticaDatos()" class="text-white text-decoration-none link-clickable">
              {{ t.footer.politicaDatos }}
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-4">
        <h5 class="mb-4">{{ t.footer.contacto }}</h5>
        <p><i class="bi bi-geo-alt me-2"></i> {{ t.footer.sede }}</p>
        <p><i class="bi bi-telephone me-2"></i> (+57) 3217516293</p>
        <p><i class="bi bi-envelope me-2"></i> info&#64;edeninmobiliaria.com</p>
      </div>

      <div class="col-md-3 mb-4">
        <h5 class="mb-4">{{ t.footer.siguenos }}</h5>
        <a href="#" class="social-icon"><i class="bi bi-facebook"></i></a>
        <a href="#" class="social-icon"><i class="bi bi-instagram"></i></a>
        <a href="#" class="social-icon"><i class="bi bi-twitter"></i></a>
        <a href="#" class="social-icon"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>

    <hr class="mt-4 mb-4">

    <div class="text-center">
      <p>{{ t.footer.derechos }}</p>
    </div>
  </div>
</footer>
