<!-- Vista centralizada usando ngSwitch -->
<div [ngSwitch]="tipoInicio">
  <!-- Vista para CLIENTE -->
  <ng-container *ngSwitchCase="'CLIENTE'">
    <!-- Navbar para usuario -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <div class="container">
        <a class="navbar-brand" >EDÉN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavCliente" aria-controls="navbarNavCliente" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavCliente">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" (click)="redireccionamiento.redirigirARegistroInmueble()">HAGAMOS NEGOCIOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="redireccionamiento.redirigirAConocenos()">CONÓCENOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="redireccionamiento.redirigirAContactenos()">CONTÁCTENOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="redireccionamiento.redirigirACatalogo()">CATÁLOGO</a>
            </li>
          </ul>
          <div class="d-flex flex-column flex-lg-row mt-3 mt-lg-0">
            <app-user-menu [userName]="userName" (logout)="logout()"></app-user-menu>
          </div>
        </div>
      </div>
    </nav>
    <!-- Hero Section -->
    <section class="container mb-5">
      <div class="hero-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-4 fw-bold mb-4">Encuentra tu propiedad ideal</h1>
              <p class="lead mb-4">Casas, apartamentos, locales, lotes y fincas para todos tus necesidades.</p>
              <button class="btn btn-primary btn-lg" (click)="redireccionamiento.redirigirACatalogo()">
                Explorar Propiedades
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="container mb-5">
      <h2 class="section-title">Propiedades Destacadas</h2>
      <div class="row">
        <div class="col-md-4" *ngFor="let propiedad of propiedadesDestacadas">
          <div class="property-card card">
            <div class="position-relative">
              <img [src]="propiedad.imagenes[0]" class="card-img-top" alt="Imagen del inmueble">
              <span class="property-badge">{{ propiedad.tipoNegocio }}</span>
            </div>
            <div class="card-body">
              <h5 class="property-price">{{ propiedad.precio | currency:'COP' }}</h5>
              <h6 class="card-title">{{ propiedad.tipo }}</h6>
              <div class="d-flex justify-content-between">
                <span><i class="bi bi-house-door"></i> {{ propiedad.estado }}</span>
                <span><i class="bi bi-geo-alt"></i> {{ propiedad.medidas }} m²</span>
              </div>
              <hr>
              <div class="d-flex justify-content-between">
                <span><i class="bi bi-door-closed"></i> {{ propiedad.habitaciones }} Habitaciones</span>
                <span><i class="bi bi-droplet"></i> {{ propiedad.banos }} Baños</span>
              </div>
              <div class="d-grid gap-2 mt-3">
                <div *ngIf="!isLogged">
                  <a class="btn btn-outline-primary w-100" (click)="redireccionamiento.redirigirALogin()">Ver Detalles</a>
                </div>
                <div *ngIf="isLogged">
                  <button class="btn btn-outline-primary w-100" (click)="abrirModalDetalles(propiedad)">Ver Detalles</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   <!-- Call to Action -->
    <section class="bg-light-primary py-5 mb-5">
      <div class="container text-center">
        <h2 class="mb-4">¿Necesitas ayuda para encontrar tu propiedad ideal?</h2>
        <p class="lead mb-4">Nuestros asesores están listos para ayudarte a encontrar la propiedad perfecta para ti.</p>
        <a class="btn btn-sm btn-outline-primary mt-1" (click)="redireccionamiento.redirigirAContactenos()">
          ASESOR EN LÍNEA
        </a>
      </div>
    </section>
  </ng-container>


  <ng-container *ngSwitchCase="'AGENTE'">
    <!-- Navbar para agente -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <div class="container">
        <a class="navbar-brand" >EDÉN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavCliente" aria-controls="navbarNavCliente" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavCliente">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" (click)="redireccionamiento.redirigirAConocenos()">CONÓCENOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="redireccionamiento.redirigirAContactenos()">CONTÁCTENOS</a>
            </li>
          </ul>
          <div class="d-flex">
            <app-user-menu [userName]="userName" (logout)="logout()"></app-user-menu>
          </div>
        </div>
      </div>
    </nav>
    <!-- Hero Section -->
    <section class="container mb-5">
      <div class="hero-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-4 fw-bold mb-4">Encuentra tu propiedad ideal</h1>
              <p class="lead mb-4">Casas, apartamentos, locales, lotes y fincas para todos tus necesidades.</p>
              <button class="btn btn-primary btn-lg">Explorar Propiedades</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="container mb-5">
      <h2 class="section-title">Propiedades Destacadas</h2>
      <div class="row">
        <div class="col-md-4" *ngFor="let propiedad of propiedadesDestacadas">
          <div class="property-card card">
            <div class="position-relative">
              <img [src]="propiedad.imagenes[0]" class="card-img-top" alt="Imagen del inmueble">
              <span class="property-badge">{{ propiedad.tipoNegocio }}</span>
            </div>
            <div class="card-body">
              <h5 class="property-price">{{ propiedad.precio | currency:'COP' }}</h5>
              <h6 class="card-title">{{ propiedad.tipo }}</h6>
              <div class="d-flex justify-content-between">
                <span><i class="bi bi-house-door"></i> {{ propiedad.estado }}</span>
                <span><i class="bi bi-geo-alt"></i> {{ propiedad.medidas }} m²</span>
              </div>
              <hr>
              <div class="d-flex justify-content-between">
                <span><i class="bi bi-door-closed"></i> {{ propiedad.habitaciones }} Habitaciones</span>
                <span><i class="bi bi-droplet"></i> {{ propiedad.banos }} Baños</span>
              </div>
              <div class="d-grid gap-2 mt-3">
                <div *ngIf="!isLogged">
                  <a class="btn btn-outline-primary w-100" (click)="redireccionamiento.redirigirALogin()">Ver Detalles</a>
                </div>
                <div *ngIf="isLogged">
                  <button class="btn btn-outline-primary w-100" (click)="abrirModalDetalles(propiedad)">Ver Detalles</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="bg-light-primary py-5 mb-5">
      <div class="container text-center">
        <h2 class="mb-4">¿Necesitas ayuda para encontrar tu propiedad ideal?</h2>
        <p class="lead mb-4">Nuestros asesores están listos para ayudarte a encontrar la propiedad perfecta para ti.</p>
        <button class="btn btn-primary btn-lg">Contactar un Asesor</button>
      </div>
    </section>

  </ng-container>

  <!-- Vista para INVITADO (usuarios no logueados) -->
  <ng-container *ngSwitchCase="'INVITADO'">
    <div class="alert alert-warning m-3">
      <h4>Mostrando contenido para invitados</h4>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <div class="container">
        <a class="navbar-brand" href="#">EDÉN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavInvitado" aria-controls="navbarNavInvitado" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavInvitado">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">INICIAR SESIÓN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/registro">REGISTRARSE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONÓCENOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTÁCTENOS</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="container mb-5">
      <div class="hero-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-4 fw-bold mb-4">Bienvenido a EDÉN</h1>
              <p class="lead mb-4">Casas, apartamentos, locales, lotes y fincas para todos tus necesidades.</p>
              <a class="btn btn-primary btn-lg" routerLink="/login">Explorar Propiedades</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
  <!-- ADMIN -->
  <ng-container *ngSwitchCase="'ADMIN'">
    <!-- Navbar para agente -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <div class="container">
        <a class="navbar-brand" >EDÉN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavCliente" aria-controls="navbarNavCliente" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavCliente">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" (click)="redireccionamiento.redirigirAConocenos()">CONÓCENOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="redireccionamiento.redirigirAContactenos()">CONTÁCTENOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="redireccionamiento.redirigirAMetricas()">METRICAS</a>
            </li>
          </ul>
          <div class="d-flex">
            <app-user-menu [userName]="userName" (logout)="logout()"></app-user-menu>
          </div>
        </div>
      </div>
    </nav>
    <!-- Hero Section -->
    <section class="container mb-5">
      <div class="hero-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-4 fw-bold mb-4">Encuentra tu propiedad ideal</h1>
              <p class="lead mb-4">Casas, apartamentos, locales, lotes y fincas para todos tus necesidades.</p>
              <button class="btn btn-primary btn-lg">Explorar Propiedades</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container mb-5">
      <h2 class="section-title">Propiedades Destacadas</h2>
      <div class="row">
        <div class="col-md-4" *ngFor="let propiedad of propiedadesDestacadas">
          <div class="property-card card">
            <div class="position-relative">
              <img [src]="propiedad.imagenes[0]" class="card-img-top" alt="Imagen del inmueble">
              <span class="property-badge">{{ propiedad.tipoNegocio }}</span>
            </div>
            <div class="card-body">
              <h5 class="property-price">{{ propiedad.precio | currency:'COP' }}</h5>
              <h6 class="card-title">{{ propiedad.tipo }}</h6>
              <div class="d-flex justify-content-between">
                <span><i class="bi bi-house-door"></i> {{ propiedad.estado }}</span>
                <span><i class="bi bi-geo-alt"></i> {{ propiedad.medidas }} m²</span>
              </div>
              <hr>
              <div class="d-flex justify-content-between">
                <span><i class="bi bi-door-closed"></i> {{ propiedad.habitaciones }} Habitaciones</span>
                <span><i class="bi bi-droplet"></i> {{ propiedad.banos }} Baños</span>
              </div>
              <div class="d-grid gap-2 mt-3">
                <div *ngIf="!isLogged">
                  <a class="btn btn-outline-primary w-100" (click)="redireccionamiento.redirigirALogin()">Ver Detalles</a>
                </div>
                <div *ngIf="isLogged">
                  <button class="btn btn-outline-primary w-100" (click)="abrirModalDetalles(propiedad)">Ver Detalles</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="bg-light-primary py-5 mb-5">
      <div class="container text-center">
        <h2 class="mb-4">¿Necesitas ayuda para encontrar tu propiedad ideal?</h2>
        <p class="lead mb-4">Nuestros asesores están listos para ayudarte a encontrar la propiedad perfecta para ti.</p>
        <button class="btn btn-primary btn-lg">Contactar un Asesor</button>
      </div>
    </section>
  </ng-container>

  <!-- Otros roles (ejemplo: ASESOR) -->
  <ng-container *ngSwitchDefault>
    <div class="alert alert-secondary m-3">
      <h4>Mostrando contenido por defecto</h4>
      <p>No se encontró una coincidencia exacta para "{{tipoInicio}}".</p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <div class="container">
        <a class="navbar-brand" href="#">EDÉN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDefault" aria-controls="navbarNavDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDefault">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">INICIAR SESIÓN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/registro">REGISTRARSE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/conocenos">Conocenos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTÁCTENOS</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="container mb-5">
      <div class="hero-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-4 fw-bold mb-4">Bienvenido a EDÉN</h1>
              <p class="lead mb-4">Casas, apartamentos, locales, lotes y fincas para todos tus necesidades.</p>
              <a class="btn btn-primary btn-lg" routerLink="/login">Explorar Propiedades</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container mb-5">
      <h2 class="section-title">Propiedades Destacadas</h2>
      <!-- Aquí puedes agregar contenido genérico o destacado -->
    </section>
  </ng-container>
  <app-detalle-inmueble
    *ngIf="mostrarModalDetalle && detalleInmueble"
    [inmueble]="detalleInmueble!"
    (cerrar)="cerrarModalDetalles()">
  </app-detalle-inmueble>
</div>
