<div class="dropdown">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="userMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    {{ userName }}
  </button>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuButton">

    <li *ngIf="!isAdmin"><a class="dropdown-item" (click)="mostrarRolPrincipal()">Ver perfil</a></li>
    <li *ngIf="!isAdmin"><a class="dropdown-item" href="https://wa.me/573217516293" target="_blank">Ayuda por WhatsApp</a></li>
    <li *ngIf="!isAdmin"><hr class="dropdown-divider"></li>

    <li><button class="dropdown-item" (click)="onLogout()">Cerrar sesión</button></li>
  </ul>
</div>
