<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - EDÉN Inmobiliaria</title>
</head>
<body>
<div class="login-container">
  <div class="back-button">
    <button routerLink="/" type="button" class="btn btn-outline-secondary">
      <i class="bi bi-arrow-left"></i> Volver al Inicio
    </button>
  </div>

  <div class="login-header">
    <h2>EDÉN</h2>
    <p>Accede a tu cuenta de inmobiliaria</p>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">EMAIL</label>
      <input type="text" class="form-control" formControlName="email" id="email" placeholder="Ingresa tu email">
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
        debe de ingresar su correo electronico.
      </div>
    </div>

    <div class="mb-3">
      <label for="contrasena" class="form-label">CONTRASEÑA</label>
      <div class="password-toggle">
        <input [type]="verContra ? 'text' : 'password'" class="form-control" id="password" formControlName="contrasena" placeholder="Crea una contraseña segura" required>
        <span class="password-toggle-icon" (click)="mostrarContrasenia()">
          <i class="bi" [ngClass]="verContra ? 'bi-eye-slash' : 'bi-eye'"></i>
        </span>
      </div>
      <div *ngIf="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched" class="text-danger">debe de ingresar su contraseña.</div>
    </div>

    <div class="forgot-password">
      <a routerLink="/recuperar">¿Olvidó su contraseña?</a>
    </div>

    <div class="mb-3 d-flex justify-content-center">
      @if (captchaActivo) {
        <re-captcha
          (resolved)="resolved($event)"
          [theme]="temaActual">
        </re-captcha>
      }
    </div>

    <button type="submit" [disabled]="loading" class="btn btn-primary w-100">
      {{ loading ? 'CARGANDO...' : 'LOGIN' }}
    </button>
  </form>

  <div class="login-footer">
    <p>¿No tienes una cuenta? <a (click)="redireccionamiento.redirigirARegistro()" style="cursor: pointer;">Regístrate aquí</a></p>
  </div>
</div>
</body>
</html>
